/*博客*/
.blog-box {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 30px;
	background-color: #eee;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.blog-header h2 {
	width: 100%;
	padding-bottom: 20px;
	font-size: 24px;
}
.blog-content {
	width: 100%;
}
.blog-content .red {
	color: red;
	font-size: 28px;
}
.blog-content p {
	line-height: 1.5;
}
.blog-type {
	height: 0px;
}
pre {
	background-color: #4d4d4d;
}
/*列表*/
.article-ul {
	width: 100%;
	margin-top: 30px;
}
.article-li {
	width: 100%;
	margin-bottom: 10px;
}
.article-li .title {
	font-size: 18px;
}
.update-time {
	font-size: 12px;
	color: #333;
}
