/*基础样式*/
h1 {
	font-size: 24px;
}
h2 {
	font-size: 22px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 14px;
}
span,p,pre {
	font-size: 14px;
}
pre {
	padding: 10px;
	background-color: #ddd;
	color: #3a3a3a;
	white-space: pre-wrap;
	word-wrap: break-word;
}
/*皮肤*/
.s-red {
	color: red;
}

/*功能*/
.clearfix:after {
    content: ".";
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
    font-size: 0
}
.clearfix {
    zoom: 1;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
.js-ds-none,.ds-none {
    display: none !important;
}

/*布局*/
.container-fluid {
	width: 100%;
	min-width: 1100px;
}
.container {
	width: 1100px;
	margin: 0 auto;
}

/*导航*/
.m-nav {
	height: 60px;
	overflow: hidden;
	background-color: #191919;
	color: #fff;
	font-size: 14px;
}
.m-nav .classification li a {
	display: block;
	height: 60px;
	line-height: 60px;
	padding: 0 20px;
	margin-left: 10px;
	color: #fff;
	text-decoration: none;
}
.m-nav .classification li a.active,
.m-nav .classification li a:hover {
	background-color: #fe7210;
}
/*banner*/
.m-banner {
	height: 240px;
	background-color: #e7031c;
}
/*底部*/
.m-footer {
	height: 100px;
	background-color: #fff;
}
.m-footer .link-ued {
    margin-bottom: 14px;
    padding-top: 24px;
}
.m-footer .link-ued a {
	padding-right: 10px;
	text-decoration: none;
	color: #555;
}

/*首页*/
.header {
	padding-bottom: 14px;
}
.g-content p {
	line-height: 2;
}
.type {
	padding-bottom: 14px;
}

/*列表*/
.m-list {
	width: 100%;
	margin-top: 20px;
}
.m-list:first-child {
	margin-top: 0;
}
.m-list li {
	width: 530px;
	height: 390px;
	margin-bottom: 8px;
	overflow: hidden;
}
.m-list li:hover {
	-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.m-list .title {
	font-size: 14px;
}
.m-list .update-time {
	font-size: 12px;
	color: #333;
}

/*文章列表*/
.m-article {
	margin-bottom: 30px;
}
.m-article li {
	position: relative;
	width: 530px;
	height: 390px;
	margin-top: 30px;
	background-color: #fff;
	-moz-transition: box-shadow 0.3s;
    -webkit-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
	overflow: hidden;
}
.m-article li:nth-child(2n) {
	margin-left: 30px;
}
.m-article .pic {
	position: relative;
	width: 530px;
	height: 240px;
	overflow: hidden;
}
.m-article .pic img {
	width: 100%;
}
.m-article .title {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 60px;
	line-height: 60px;
	background-color: rgba(25,25,25,.8);
	color: #fff;
	font-size: 20px;
	text-indent: 30px;
}
.m-article .link {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
}
.m-article .des {
	padding: 30px;
}
.m-article .info {
	text-indent: 30px;
}
.m-article .tag {
	padding: 0 6px;
	color: #ff7300;
}





























