/*reset css*/
html {
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0px;
    margin: 0px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}
ol, ul {
    list-style: none;
}
caption, th {
    text-align: left;
}
body {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    font-size: 14px;
    background-color: #f5f5f5;
    color: #555;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, ul, li {
    outline: 0 none;
    list-style: none;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}