---
layout: default
title: 前端设计
---

<ul class="clearfix m-article">
	{% for post in site.posts %}
		{% if post.type == 2 %}
		<li class="f-left">

			{% if post.otherUrl %}
				<a class="link" href="{{ post.otherUrl }}" target="_blank"></a>
			{% else %}
				<a class="link" href="{{ site.baseurl }}{{ post.url }}" target="_blank"></a>
			{% endif %}

			<div class="pic">
				<img src="{{ site.baseurl }}/images/{{post.picSrc}}" alt="">
				<div class="title">
					{{ post.title }}
				</div>
			</div>
			<div class="des">
				{{ post.describe }}
			</div>
			<div class="info">
				<span>采集：{{ post.author }}&nbsp;|</span>
				{% for tag in post.tags %}
				    <span class="tag">{{ tag }}</span>
				{% endfor %}
				<span>|&nbsp;{{ post.date | date_to_string }}</span>
			</div>
		</li>
		{% endif %}
	{% endfor %}
</ul>


