<section class="container-fiuld m-nav">
	<nav class="clearfix container">
		<div class="f-left logo">
			<img src="{{ site.baseurl }}/images/logo.png" alt="logo">
		</div>
		<div class="f-left autograph">
			越努力 越幸运
		</div>
		<ul class="f-right clearfix classification">
			<li class="f-left"><a class="active" href="{{ site.baseurl }}" title="">首页</a></li>
			<li class="f-left"><a class="" href="{{ site.baseurl }}/1.html" title="">前端开发</a></li>
			<li class="f-left"><a class="" href="{{ site.baseurl }}/2.html" title="">前端设计</a></li>
			<li class="f-left"><a class="" href="{{ site.baseurl }}/3.html" title="">关于作者</a></li>
		</ul>
	</nav>
</section>