<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/reset.css">
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/blog.css">
		<!--[if lt IE 9]>
		<script src="http://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		{% include nav.html %}
		{% include banner.html %}
		<section class="container">
			{{ content }}
		</section>
		{% include footer.html %}
	</body>
</html>