<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		{% include head.html %}
	</head>
	<body>
		{% include nav.html %}
		{% include banner.html %}
		<section class="container m-detail">
			<h1 class="">{{ page.title }}</h1>
			<p class="info">
				<span>采集：{{ page.author }}&nbsp;&nbsp;|</span>
				{% for tag in page.tags %}
				    <span class="tag">{{ tag }}</span>
				{% endfor %}
				<span>|&nbsp;&nbsp;{{ page.date | date_to_string }}</span>
			</p>
			<div class="content">
				{{ content }}
			</div>
			<span data-hk-page="current"> - </span>
		</section>
		{% include footer.html %}

		{% include go_top.html %}

		<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/js/luo.js"></script>
		<script src="http://jerry-cdn.b0.upaiyun.com/hit-kounter/hit-kounter-0.1.1.js"></script>
	</body>
</html>