<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/reset.css">
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/blog.css">
		<!--[if lt IE 9]>
		<script src="http://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		{% include nav.html %}
		{% include banner.html %}
		<section class="container m-detail">
			<h1 class="">{{ page.title }}</h1>
			<p class="info">
				<span>作者：{{ page.author }}&nbsp;&nbsp;|</span>
				<span class="tag">前端开发，用户体验</span>
				<span>|&nbsp;&nbsp;{{ page.date | date_to_string }}</span>
			</p>
			<div class="content">
				{{ content }}
			</div>
		</section>
		{% include footer.html %}

		<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<script type="text/javascript" src="{{ site.baseurl }}/js/luo.js"></script>
	</body>
</html>